PROJECT_ID=ons-sds-sandbox
PROFILE=dev
DATASET_BUCKET_NAME="ons-sds-sandbox-datasets"
FIRESTORE_DATABASE="test"
PUBLISH_DATASET_TOPIC_ID="projects/ons-sds-sandbox/topics/publish-dataset"
SDS_URL="https://your_load_balancer"
